# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
ADMIN_USER_ID=your_admin_user_id_here
GROUP_CHAT_ID=your_group_chat_id_here
GROUP_CHAT_ID_FOR_ADMIN=your_group_admin_chat_id_here
# Google Sheets Configuration
GOOGLE_SHEETS_ID=your_google_sheets_id_here
GOOGLE_SERVICE_ACCOUNT_FILE=credentials.json
WORKSHEET_NAME=Members

# Other Settings
CHECK_INTERVAL_VALUE=1
CHECK_INTERVAL_UNIT=days
DEFAULT_EXPIRE_DAYS=31
DEFAULT_EXPIRE_YEARS=1
TIMEZONE=Asia/Bangkok